* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
  text-decoration: none;
  list-style: none;
  font-size: 24px; }

/*-- Inicia Head-Nav --*/
nav {
  grid-area: nav;
  background-color: #212121;
  height: 130px;
  width: 100%; }
  nav .enlace {
    position: absolute;
    padding: 15px 15px; }
    nav .enlace .logo {
      height: 100px; }
  nav ul {
    float: right;
    margin-right: 25px; }
    nav ul li {
      display: inline-block;
      line-height: 126px;
      margin: 0 5px; }
      nav ul li a {
        color: white;
        font-size: 30px;
        padding: 7px 13px; }
        nav ul li a:hover {
          font-weight: 500;
          transition: .5s; }
  nav .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 120px;
    margin-right: 40px;
    cursor: pointer;
    display: none; }
  nav #check {
    display: none; }

/*-- Termina Head-Nav --*/
/*-- Inicia Portada --*/
.portada {
  grid-area: cover;
  background-color: white; }
  .portada img {
    width: 100%; }
  .portada .optCover {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -45px;
    margin-bottom: -2%; }
    .portada .optCover li {
      background-color: #212121;
      text-align: center;
      width: 400px;
      display: inline-block;
      padding: 1.5%; }
      .portada .optCover li a {
        color: white; }
        .portada .optCover li a:hover {
          font-weight: 500; }

/*-- Termina Portada --*/
/*-- Inicia Grilla --*/
.contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "nav nav nav" "cover cover cover" "main main misc" "footer footer footer"; }

/*-- Termina Grilla --*/
/*-- Inicia Seccion Index Main --*/
.indxEquipo {
  grid-area: main;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 45px auto; }
  .indxEquipo h1 {
    width: 100%;
    font-size: 45px;
    font-weight: 500;
    margin: 0;
    padding-left: 135px; }
  .indxEquipo img {
    width: 300px;
    opacity: 95%;
    padding-top: 25px; }
    .indxEquipo img:hover {
      opacity: 100%; }

/*-- Termina Seccion Index Main --*/
/*-- Inicia Seccion Index Especialidades --*/
.indxEspc {
  grid-area: misc;
  background-color: white;
  margin-bottom: 45px; }
  .indxEspc h2 {
    font-size: 45px;
    font-weight: 500;
    margin: 0;
    margin-top: 120px;
    width: 100%; }
  .indxEspc li {
    margin-top: 5px;
    width: 65%;
    color: #212121;
    padding: 15px;
    border-bottom: 2px groove #EAACA4; }
    .indxEspc li span {
      font-size: 22px; }

/*-- Termina Seccion Index Especialidades --*/
/*-- Inicia Seccion Nosotros --*/
.nosotros {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px 0;
  grid-column: span 3; }
  .nosotros h2 {
    font-size: 45px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    padding: 10px 0; }
  .nosotros img {
    width: 100%; }
  .nosotros .mision, .nosotros .vision, .nosotros .valores {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0;
    width: 400px; }
  .nosotros .valores_text p {
    text-align: center; }

/*-- Termina Seccion Nosotros --*/
/*--Inicia Section Servicios --*/
.servicios {
  grid-column: span 3;
  margin: 10px 85px;
  margin-bottom: 35px; }
  .servicios .especialidades h2 {
    font-size: 45px;
    font-weight: 500;
    margin: 0;
    text-align: center; }
  .servicios .especialidades p {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0; }
  .servicios .especialidades table {
    width: 100%;
    margin: 20px 0; }
    .servicios .especialidades table td {
      font-size: 24px;
      font-weight: 400;
      line-height: 1.7em;
      margin: 0;
      padding: 10px;
      background-color: #EAACA4;
      opacity: 65%;
      text-align: center;
      border-radius: .3rem; }
      .servicios .especialidades table td:hover {
        opacity: 100%; }

/*--Termina Section Servicios --*/
/*-- Inicia Citas --*/
.doctoralia {
  grid-column: span 3;
  margin: 20px auto;
  padding-top: 40px; }

/*-- Termina Citas --*/
/*-- Inicia Contacto --*/
.mapa {
  grid-area: main;
  display: flex;
  justify-content: center; }
  .mapa .ubicacion {
    margin: 0 auto; }
    .mapa .ubicacion h2 {
      font-size: 45px;
      font-weight: 500;
      margin: 0; }
    .mapa .ubicacion li {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.7em;
      margin: 0;
      display: inline;
      text-align: left;
      background-color: white;
      width: 90%;
      text-align: left; }
      .mapa .ubicacion li span {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.7em;
        margin: 0; }
    .mapa .ubicacion iframe {
      width: 100%;
      margin-top: 25px;
      width: 100%;
      height: 55%; }

.contacto {
  grid-area: misc;
  margin-bottom: 25px; }
  .contacto .formulario {
    background-color: #EAACA4;
    padding: 25px;
    width: 90%; }
    .contacto .formulario h2 {
      font-size: 45px;
      padding-bottom: 15px; }
    .contacto .formulario input {
      width: 100%;
      margin-bottom: 10px;
      font-size: 15px; }
    .contacto .formulario .controlFormulario {
      height: 35px;
      background-color: white;
      padding-left: 10px;
      border: 2px groove #EAACA4;
      opacity: 65%; }
    .contacto .formulario .mensaje {
      display: block;
      width: 100%;
      height: 200px;
      margin-bottom: 10px;
      padding: 10px;
      resize: none;
      background-color: white;
      border: 2px groove #EAACA4;
      opacity: 65%; }
    .contacto .formulario .controlBoton {
      width: 200px;
      padding: 10px;
      background-color: white;
      border: 2px groove #EAACA4;
      opacity: 65%;
      display: inline-block; }

/*-- Termina Contacto --*/
/*-- Inicia Footer --*/
.foot {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  background-color: #212121;
  height: 110px;
  width: 100%; }
  .foot .enlace-foot {
    padding: 15px 15px; }
    .foot .enlace-foot .logo-foot {
      display: inline-block;
      height: 75px; }
  .foot .copyright {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7em;
    margin: 0;
    align-self: center;
    text-align: center;
    color: white; }
  .foot .redes-sociales {
    display: inline-block;
    margin-right: 75px; }
    .foot .redes-sociales li {
      display: inline-block;
      line-height: 110px; }
      .foot .redes-sociales li a {
        color: white;
        padding: 7px 13px; }

/*-- Termina Footer --*/
/*-- Inicia Responsive --*/
@media screen and (max-width: 1300px) {
  .contenedor {
    grid-template-areas: "nav nav nav"  "cover cover cover"  "main main main"  "misc misc misc"  "footer footer footer";
    font-size: 65%;
    /*--Inicia Resp-Med-NavBar--*/
    /*--Termina Resp-Med-NavBar--*/
    /*--Inicia Resp-Med-Cover--*/
    /*--Termina Resp-Med-Cover--*/
    /*--Inicia Resp-Med-IndEq--*/
    /*--Termina Resp-Med-IndEq--*/
    /*--Inicia Resp-Med-Nos--*/
    /*--Termina Resp-Med-Nos--*/
    /*--Inicia Resp-Med-Serv--*/
    /*--Termina Resp-Med-Serv--*/
    /*--Inicia Resp-Med-Fot--*/
    /*--Termina Resp-Med-Fot--*/
    /*--Inicia Resp-Med-Cont--*/
    /*--Inicia Resp-Med-Cont--*/ }
    .contenedor nav {
      height: 85px; }
      .contenedor nav .enlace {
        padding: 10px 10px; }
        .contenedor nav .enlace .logo {
          height: 65px; }
      .contenedor nav ul li {
        line-height: 80px; }
        .contenedor nav ul li a {
          font-size: 24px; }
    .contenedor .portada .optCover li a {
      font-size: 24px; }
    .contenedor .indxEquipo {
      margin: 0;
      padding: 0; }
      .contenedor .indxEquipo img {
        width: 250px;
        opacity: 95%;
        padding-top: 25px;
        margin-bottom: 35px; }
        .contenedor .indxEquipo img:hover {
          opacity: 100%; }
      .contenedor .indxEquipo h1 {
        margin: 0;
        padding: 0;
        text-align: center; }
    .contenedor .indxEspc {
      padding: 0;
      margin: 0;
      margin-bottom: 55px;
      text-align: center; }
      .contenedor .indxEspc h2 {
        font-size: 35px;
        margin: 0;
        padding: 0; }
      .contenedor .indxEspc li {
        text-align: center;
        font-size: 10px;
        margin: auto;
        width: 35%; }
    .contenedor .nosotros {
      margin: 0 auto; }
      .contenedor .nosotros .mision, .contenedor .nosotros .vision, .contenedor .nosotros .valores {
        width: 45%;
        margin: 25px auto; }
        .contenedor .nosotros .mision h2, .contenedor .nosotros .vision h2, .contenedor .nosotros .valores h2 {
          font-size: 24px;
          padding: 10px 0; }
        .contenedor .nosotros .mision p, .contenedor .nosotros .vision p, .contenedor .nosotros .valores p {
          font-size: 18px; }
    .contenedor .servicios {
      width: 90%;
      margin: 0 auto;
      padding-bottom: 75px; }
      .contenedor .servicios .especialidades p {
        font-size: 18px;
        text-align: center; }
      .contenedor .servicios .especialidades h2 {
        font-size: 33px; }
      .contenedor .servicios .especialidades table {
        display: flex;
        justify-content: center;
        margin: 25px auto;
        width: 90%; }
        .contenedor .servicios .especialidades table td {
          font-size: 24px; }
    .contenedor .foot {
      height: 85px; }
      .contenedor .foot .enlace-foot {
        padding: 15px 15px; }
        .contenedor .foot .enlace-foot .logo-foot {
          height: 50px; }
      .contenedor .foot .copyright {
        font-size: 18px; }
      .contenedor .foot ul {
        margin-right: 35px; }
        .contenedor .foot ul li {
          display: inline-block;
          line-height: 80px; }
          .contenedor .foot ul li a {
            font-size: 25px; }
    .contenedor .ubicacion {
      width: 90%; }
      .contenedor .ubicacion h2 {
        font-size: 45px;
        text-align: center; }
      .contenedor .ubicacion li {
        display: inline;
        text-align: center; }
        .contenedor .ubicacion li span {
          font-size: 24px;
          font-weight: 600;
          line-height: 1.7em;
          margin: 0; }
      .contenedor .ubicacion iframe {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 150px;
        margin: 25px 0; }
    .contenedor .contacto {
      display: flex;
      justify-content: center;
      margin-left: 10px; } }

/*-- Inicia Responsive Sml --*/
@media screen and (max-width: 1000px) {
  .contenedor {
    /*--Inicia Resp-Sml-NavBar--*/
    /*--Termina Resp-Sml-NavBar--*/
    /*--Inicia Resp-Sml-Cover--*/
    /*--Termina Resp-Sml-Cover--*/
    /*--Inicia Resp-Sml-IndEq--*/
    /*--Termina Resp-Sml-IndEq--*/
    /*--Inicia Resp-Sml-Nos--*/
    /*--Termina Resp-Sml-Nos--*/
    /*--Inicia Resp-Med-Serv--*/
    /*--Termina Resp-Med-Serv--*/
    /*--Inicia Resp-Sml-Fot--*/
    /*--Termina Resp-Sml-Fot--*/ }
    .contenedor nav .checkbtn {
      display: block;
      line-height: 85px; }
    .contenedor nav .enlace {
      padding: 20px 15px; }
      .contenedor nav .enlace .logo {
        height: 45px; }
    .contenedor nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #323232;
      top: 85px;
      left: -100%;
      text-align: center;
      transition: all .5s; }
      .contenedor nav ul li {
        display: block; }
        .contenedor nav ul li a {
          font-size: 20px;
          color: white; }
          .contenedor nav ul li a:hover {
            background: none; }
    .contenedor nav #check:checked ~ ul {
      left: 0;
      z-index: 1; }
    .contenedor .portada .optCover {
      top: -45px; }
      .contenedor .portada .optCover li a {
        font-size: 18px; }
    .contenedor .indxEquipo {
      width: 95%; }
      .contenedor .indxEquipo h1 {
        font-size: 40px;
        font-weight: 500;
        margin: 0; }
      .contenedor .indxEquipo img {
        width: 125px;
        margin: 25px 0;
        padding: 0; }
    .contenedor .indxEspc h2 {
      font-size: 40px;
      font-weight: 500;
      margin: 0;
      margin: 0;
      padding: 0; }
    .contenedor .indxEspc ul li {
      width: 75%; }
      .contenedor .indxEspc ul li span {
        font-size: 18px; }
    .contenedor .nosotros {
      display: flex;
      flex-direction: column;
      margin: 0 auto; }
      .contenedor .nosotros .mision, .contenedor .nosotros .vision, .contenedor .nosotros .valores {
        width: 75%;
        margin: 5px auto; }
        .contenedor .nosotros .mision h2, .contenedor .nosotros .vision h2, .contenedor .nosotros .valores h2 {
          font-size: 25px;
          padding: 10px 0; }
        .contenedor .nosotros .mision p, .contenedor .nosotros .vision p, .contenedor .nosotros .valores p {
          font-size: 15px;
          margin-bottom: 25px; }
    .contenedor .servicios {
      width: 90%;
      margin: 0 auto;
      padding-bottom: 75px; }
      .contenedor .servicios .especialidades p {
        font-size: 18px;
        text-align: justify; }
      .contenedor .servicios .especialidades h2 {
        font-size: 28px; }
      .contenedor .servicios .especialidades table td {
        font-size: 20px; }
    .contenedor .foot .copyright {
      font-size: 12px; }
    .contenedor .foot ul {
      margin-right: 10px; }
      .contenedor .foot ul li {
        display: inline-block;
        width: 25%;
        line-height: 80px; }
        .contenedor .foot ul li a {
          font-size: 20px; }
    .contenedor .contacto {
      margin-left: 25px; } }

/*-- Termina Responsive Sml --*/
