/*-- Inicia Grilla --*/
.contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "nav nav nav"
   "cover cover cover"
   "main main misc"
   "footer footer footer"; 
}
   /*-- Termina Grilla --*/