@import "vars";
/*-- Inicia Seccion Nosotros --*/
.nosotros {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px 0;
    grid-column: span 3;

    h2{
        @include titulos ($h2, 500);
        text-align: center;
        padding: 10px 0;
    }
    img {
        width: 100%;
    }
    .mision, .vision, .valores {
        @include texto ($txt3, 400);
        width: 400px;
    }
    .valores_text {
        p{
            text-align: center;
        }
    }
}
/*-- Termina Seccion Nosotros --*/