/*-- Inicia Responsive Sml --*/
@media screen and (max-width: 1000px) {
    .contenedor {
        /*--Inicia Resp-Sml-NavBar--*/
        nav {
            .checkbtn {
                display: block;
                line-height: 85px;
            }
            .enlace {
                padding: 20px 15px;
                .logo {
                    height: 45px;
                }
            }
            ul{
                position: fixed;
                width: 100%;
                height: 100vh;
                background: #323232;
                top: 85px;
                left: -100%;
                text-align: center;
                transition: all .5s;
                li {
                    display: block;
                    a {
                        font-size: 20px;
                        color: white;
                        &:hover {
                            background: none;
                        }
                    }
                }
            }  
            #check:checked ~ ul{
                left:0;
                z-index: 1;
            }
        }
        /*--Termina Resp-Sml-NavBar--*/
        /*--Inicia Resp-Sml-Cover--*/
            .portada {
                .optCover {
                    top: -45px;
                    li a {
                        font-size: $txt3;
                    }
                }
            }
        /*--Termina Resp-Sml-Cover--*/
        /*--Inicia Resp-Sml-IndEq--*/
        .indxEquipo {
            width: 95%;
            h1 {
                @include titulos ($h3, 500);
            }
            img {
                width: 125px;
                margin: 25px 0;
                padding: 0;
            }
        }
        .indxEspc {
            h2 {
                @include titulos ($h3, 500);
                margin: 0;
                padding: 0;
            }
            ul {
                li {
                    width: 75%;
                    span {
                        font-size: 18px;
                    }
                }
            }
        }
        /*--Termina Resp-Sml-IndEq--*/

        /*--Inicia Resp-Sml-Nos--*/
        .nosotros {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            .mision, .vision, .valores {
                width: 75%;
                margin: 5px auto;
                h2 {
                    font-size: 25px;
                    padding: 10px 0;
                }
                p {
                    font-size: 15px;
                    margin-bottom: 25px;
                }
            }
        }
        /*--Termina Resp-Sml-Nos--*/
        /*--Inicia Resp-Med-Serv--*/
            .servicios {
                width: 90%;
                margin: 0 auto;
                padding-bottom: 75px;
                .especialidades {
                    p {
                        font-size: 18px;
                        text-align: justify;
                    }
                    h2 {
                        font-size: 28px;
                    }
                    table {
                        margin: 25px auto;
                        width: 90%;
                        td {
                            font-size: $txt4;
                        }
                    }
                }
            }
        /*--Termina Resp-Med-Serv--*/
        /*--Inicia Resp-Sml-Fot--*/
        .foot {
            .copyright {
                font-size: 12px;
            }
            ul {
                margin-right: 10px;
                li {
                    display: inline-block;
                    width: 25%;
                    line-height: 80px;
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
        /*--Termina Resp-Sml-Fot--*/

        .contacto {
            margin-left: 25px;
        }
    }
}



/*-- Termina Responsive Sml --*/