@import "vars";
/*--Inicia Section Servicios --*/
.servicios {
    grid-column: span 3;
    margin: 10px 85px;
    margin-bottom: 35px; 
    .especialidades {
        h2{
            @include titulos ($h2, 500);
            text-align: center;
        }
        p {
            @include texto ($txt1, 400);
        }
        table {
            width: 100%;
            margin: 20px 0;
            td {
                @include texto ($txt1, 400);
                padding: 10px;
                background-color: $color-secundario;
                opacity: 65%;
                text-align: center;
                border-radius: .3rem;
                &:hover {
                    opacity: 100%
                }
            }
        }
    }
}
/*--Termina Section Servicios --*/