* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    text-decoration: none;
    list-style: none;
    font-size: 24px;
}
@import "navbar";
@import "cover";
@import "grid";
@import "ind";
@import "nos";
@import "serv";
@import "cit";
@import "cont";
@import "footer";
@import "responsive-med";
@import "responsive-sml";