* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    text-decoration: none;
    list-style: none;
}
/*-- Inicia Head-Nav --*/
nav {
    grid-area: nav;
    background-color: #212121;
    height: 130px;
    width: 100%;
    .enlace {
        position: absolute;
        padding: 15px 15px;
        .logo {
            height: 100px;
        }
    }
    ul {
        float: right;
        margin-right: 50px;
        li {
            display: inline-block;
            line-height: 126px;
            margin: 0 5px;
            a {
                color: white;
                font-size: 25px;
                padding: 7px 13px;
                &:hover{
                    font-weight: 500;
                    transition: .5s;
                }
            }
        }
    }
    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        line-height: 120px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    #check {
        display: none;
    }
}
/*-- Termina Head-Nav --*/
/*-- Inicia Portada --*/
.portada{
    grid-area: cover;
    background-color: white;
    img {
        width: 100%;
    }
    .optCover {
        display: flex;
        justify-content: space-evenly;
        position: relative;
        top: -40px;
        margin-bottom: -2%;
        li {
            background-color: #212121;
            text-align: center;
            width: 350px;
            display: inline-block;
            padding: 1.5%;
            a {
                font-size: 20px;
                color: white;
                &:hover {
                    font-weight: 500;
                }
            }
        }
    }
}
/*-- Termina Portada --*/
/*-- Inicia Grilla --*/
.contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "nav nav nav"
   "cover cover cover"
   "main main misc"
   "footer footer footer"; }
   /*-- Termina Grilla --*/
   /*-- Inicia Seccion Main --*/
   .indxEquipo {
    grid-area: main;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 35px;
    h2 {
        width: 100%;
        font-size: 35px;
        margin-top: 35px;
        padding-left: 135px;
    }
    img {
        width: 300px;
        padding: 10px;
        opacity: 85%;
        &:hover {
            opacity: 100%;
        }
    }
}
/*-- Termina Seccion Main --*/
/*-- Inicia Seccion Especialidades --*/
.indxEspc {
    grid-area: misc;
    background-color: white;
    margin-bottom: 45px;
    h2 {
        margin-top: 100px;
        width: 100%;
        font-size: 30px;
    }
    li {
        padding-left: 75px;
        width: 65%;
        font-size: 18px;
        color: #212121;
        padding: 20px;
        border-bottom: 2px solid #EAACA4;
        display: list-item;
        list-style-position: inside;
    }
}
/*-- Termina Seccion Especialidades --*/

/*-- Inicia Footer --*/
.foot {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    background-color: #212121;
    height: 120px;
    width: 100%;
    .enlace-foot {
        padding: 15px 15px;
        .logo-foot {
            display: inline-block;
            height: 90px;
        }
    }
    .copyright {
        display: inline-block;
        align-self: center;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: white;
    }
    ul {
        display: inline-block;
        margin-right: 75px;
        li {
            display: inline-block;
            line-height: 110px;
            a {
                color: white;
                font-size: 35px;
                padding: 7px 13px;
            }
        }
    }
}
/*-- Termina Footer --*/


/*-- Inicia Responsive --*/
@media screen and (max-width: 1120px) {
    .contenedor {
        grid-template-areas: "nav nav nav" 
        "cover cover cover" 
        "main main main" 
        "misc misc misc" 
        "footer footer footer";
        font-size: 65%;

        nav {
            height: 85px;
            .enlace {
                padding: 10px 10px;
                .logo {
                    height: 65px;
                }
            }
            ul {
                li {
                    line-height: 80px;
                    a {
                        font-size: 18px;
                    }
                }
            }
        }

        .indxEquipo {
            margin: 0;
            padding: 0;
            h2 {
                margin: 0;
                padding: 0;
                text-align: center;
            }
            img {
                width: 250px;
                margin: 0;
                margin-bottom: 50px;
                padding: 0;
            }
        }

        .indxEspc {
            padding: 0;
            margin: 0;
            margin-bottom: 20px;
            text-align: center;
            h2 {
                margin: 0;
                padding: 0;
            }
            li {
                text-align: center;
                margin: auto;
            }
        }
    
        .foot {
            height: 85px;
            .enlace-foot {
                padding: 15px 15px ;
                .logo-foot {
                    height: 50px;
                }
            }
            .copyright {
                font-size: 14px;
            }
            ul {
                margin-right: 35px;
                li {
                    display: inline-block;
                    line-height: 80px;
                    a {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 858px) {
    nav {
        .checkbtn {
            display: block;
            line-height: 85px;
        }
        .enlace {
            padding: 20px 15px;
            .logo {
                height: 45px;
            }
        }
        ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #323232;
            top: 85px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            li {
                display: block;
                margin: 50px 0;
                line-height: 10px;
                a {
                    font-size: 20px;
                    color: white;
                    &:hover {
                        background: none;
                    }
                }
            }
        }
    }
    #check:checked ~ ul{
        left:0;
    }

    .foot {
        .copyright {
            font-size: 12px;
        }
        ul {
            margin-right: 10px;
            li {
                display: inline-block;
                width: 25%;
                line-height: 85px;
                a {
                    font-size: 20px;
                }
            }
        }
    }
}
/*-- Termina Responsive --*/